/* 
 ! buttons 
*/

.button-primary-rounded {
    border-radius: 200px;
    border: 1px solid #570df8;
    background: #570df8;
}
.button-primary-text {
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    line-height: 28px;
    color: #ffffff;
}
.button-primary-rounded:hover {
    border-radius: 200px;
    border: 1px solid #f9a8d4;
    background: #f9a8d4;
}
.button-primary-text:hover {
    color: #000000
}

.button-outline-rounded {
    border-radius: 200px;
    border: 1px solid #ffffff;
}
.button-outline-text {
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    line-height: 28px;
    color: #ffffff;
}
.button-outline-rounded:hover {
    border-radius: 200px;
    border: 1px solid #f9a8d4;
}
.button-outline-text:hover {
    color: #f9a8d4;
}

/* TODO
 ! DO I NEED THIS?
 */ 
.hero-buttons {
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat";
    line-height: 28px;
    color: #ffffff;
}
