.component-footer {
  min-height: 10vh;
  /* background-color: #6229ca; */
  text-align: left;
}

.leftlogo img {
  width: 100%; 
  height: auto;
}

/* Footer from figma */

.div-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.div-2 {
  background: #ffffff;
}
.div-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 64;
  background: #4506cb;
  text-align: right;
}
.div-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 30;
  color: #ffffff;
}
.div-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 24;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 28px;
}
.span-2 {
  font-size: 56px;
  font-weight: 500;
  font-family: "Druk Wide Web";
  line-height: 65px;
}
.img-1 {
  height: 40px;
  width: 400px;
}
.div-6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 64;
}
.div-7 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.div-8 {
  background: #ffffff;
}
.div-9 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.div-10 {
  background: #ffffff;
}
.div-11 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.span-5 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat";
  line-height: 28px;
}
.div-12 {
  background: #ffffff;
}
.div-13 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 13;
}
.div-14 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4;
}
.span-6 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat";
  line-height: 28px;
  color: #ffffff;
}
.div-15 {
  background: #ffffff;
}
.div-16 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 64;
}
.span-7 {
  font-size: 300px;
  font-weight: 700;
  font-family: "Druk Wide Web";
  line-height: 351px;
  color: #5eead4;
}
.span-8 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 28px;
  color: #ffffff;
}