/* 
 Custom UI mods 
 ! See NOTES below
*/

/* default UI changes */

:root {
  --rounded-box: 0.5rem;
  --rounded-btn: 0.2rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --padding-card: 2rem;
  --navbar-padding: 0.5rem;
  --border-btn: 1px;
}

.btn { @apply rounded }



/* NOTES */

/* Default component tweaks */

// --rounded-box        /* border-radius for cards and other big elements */
// --rounded-btn        /* border-radius for buttons and similar elements */
// --rounded-badge      /* border-radius for badge and other small elements */
// --animation-btn      /* bounce animation time for button */
// --animation-input    /* bounce animation time for checkbox, toggle, etc */
// --padding-card       /* default card-body padding */
// --btn-text-case      /* default text case for buttons */
// --navbar-padding     /* default padding for navbar */
// --border-btn         /* default border size for button */

/* Style Colouring */

// primary              /* Primary color */
// primary-focus        /* Primary color - focused */
// primary-content      /* Foreground content color to use on primary color */

// secondary            /* Secondary color */
// secondary-focus      /* Secondary color - focused */
// secondary-content    /* Foreground content color to use on secondary color */

// accent               /* Accent color */
// accent-focus         /* Accent color - focused */
// accent-content       /* Foreground content color to use on accent color */

// neutral              /* Neutral color */
// neutral-focus        /* Neutral color - focused */
// neutral-content      /* Foreground content color to use on neutral color */

// base-100             /* Base color of page, used for blank backgrounds */
// base-200             /* Base color, a little darker */
// base-300             /* Base color, even more darker */
// base-content         /* Foreground content color to use on base color */

// info                 /* Info */
// success              /* Success */
// warning              /* Warning */
// error                /* Error */

/* Custom Coloured components can be referenced with: */

// bg-{COLOR_NAME}
// text-{COLOR_NAME}                /* examples: */
// border-{COLOR_NAME}              // bg-primary
// from-{COLOR_NAME}                // bg-accent
// via-{COLOR_NAME}                 // text-secondary
// to-{COLOR_NAME}                  // text-error
// placeholder-{COLOR_NAME}
// divide-{COLOR_NAME}
// ring-{COLOR_NAME}
// ring-offset-{COLOR_NAME}