/* TODO
 ! Hero Breakpoints 
*/

@media (max-width: 600px) {
  .opensea-embed-hero {
    line-height: 2.5rem;
    font-size: 2.5rem;
  }
  .opensea-embed-hero small {
    font-size: 1rem;
  }

  .block-to-disappear-in-mobile {
    display: none;
  }
}

/* @media only screen and (max-width: 991px) {
  .hero-heading {
    color: #fff;
    font-size: 3em;
  }

  .hero-subheading {
    color: #F8A7D3;
    font-size: 0.75em;
  }
} */

/* @media only screen and (max-width: 1233px) {
  .hero-heading {
    color: #fff;
    font-size: 5em;
  }

  .hero-subheading {
    color: #F8A7D3;
    font-size: 1em;
  }
} */

@media only screen and (max-width: 600px) {
  .hero-heading{
    color: #fff;
    font-size: 2em;
  }

  .hero-subheading {
    color: #F8A7D3;
    font-size: 0.5em;
  }
}